@model CCPNCR_Record_Management.Models.CountFiles
        
@{
    ViewBag.Title = "AdminDashBoard";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<h2 style="text-align:center">DashBoard</h2>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="~/DesignA/css/style.css" rel="stylesheet" />   
    <link href="~/DesignA/DashBoard/dataTables.bootstrap4.min.css" rel="stylesheet" />
    @*<script href="~/DesignA/DashBoard/all.min.cache" crossorigin="anonymous"></script>*@
</head>

@if(Model != null)
{

    <body class="sb-nav-fixed">
        <div id="layoutSidenav">
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-6 col-md-6">
                                <div class="card bg-primary text-white mb-5">                                    
                                    <div class="card-body">Total Files in Record (@Model.List_CountFiles[0].CountTotal_File)</div>                                    
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="@Url.Action("GetAllFileRecord", "FileMasterRecord")">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="card bg-success text-white mb-5">
                                    <div class="card-body">Files Inside Record (@Model.List_CountFiles[1].CountTotal_Inside)</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="@Url.Action("FileInsideRecord", "FileMasterRecord")">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-xl-6 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Files Outside Record (@Model.List_CountFiles[2].CountTotal_Outside)</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="@Url.Action("FileOutsideRecord", "FileMasterRecord")">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6 col-md-6">
                                <div class="card bg-info text-white mb-4">
                                    <div class="card-body">Approval Pending for Outgoing Files (@Model.List_CountFiles[3].CountTotal_Pending)</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="@Url.Action("FileSentforApproval", "FileMasterRecord")">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
    
}
</html>
