@model CCPNCR_Record_Management.Models.ResetPasswordModel
@{
    Layout = null;

}


<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        [type="button"] {
            border: none;
            font-size: 15px;
            margin: 10px;
            padding: 10px;
            width: auto;
            border-radius: 5px;
            color: white;
            background-color: orange;
        }
    </style>


    <link href="~/DesignA/css/style.css" rel="stylesheet">
    <link href="~/DesignA/js/main.js" type="text/javascript" rel="javascript" />
</head>
<body>

    @using (Html.BeginForm("ResetUpdatePassword", "ResetPassword", FormMethod.Post, null))
    {

        <div class="loginwindow">
            <div class="Loginleftpanel">
                <img src="~/Images/RecordImage2.png" />
                <h1>Chief Coordinator Planner (NCR) Record Management System</h1>
            </div>

           
            <div class="LoginRightpanel" id="LoginRightForm">
                @if (Model.ReturnToken != null)
                {
                    @Html.HiddenFor(model => model.ReturnToken)

                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <br />
                                <th scope="col" colspan="3" style=" text-align: center; font-size:20px; color: white;">Update Password <br /><br /></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.TextBoxFor(modelitem => Model.Password, new { onchange = "PasswordVerify()", id = "newpassword", placeholder = "New Password" })
                                    @*<input type="text" id="newpassword" name="New_Pwd" onchange="PasswordVerify()" placeholder="New Password" />*@
                                </td>
                                <td><label id="newpasswordlabel" style="color:white" /></td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.TextBoxFor(modelitem => Model.Password, new { onchange = "MatchPassword()", id = "confirmnewpassword", placeholder = "Confirm Password" })
                                    @*<input type="text" id="confirmnewpassword" onchange="MatchPassword()" placeholder="Confirm Password" />*@
                                </td>
                                <td><label id="confirmpasswordlabel" style="color:white" /></td>
                            </tr>
                            <tr>
                                <td colspan="2"><input type="submit" id="btnupdatepassword" style="float:left;text-align:center;background:orange;color:white;height:30px;display:none" class="btn btn-primary" value="Update Password" /></td>
                            </tr>
                        </tbody>
                    </table>
                }
                else
                {
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <br />
                                <th scope="col" colspan="3" style=" text-align: center; font-size:20px; color: white;">Update Password <br /><br /></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="3">
                                   Reset Link Expire.....
                                </td>
                                </tr>
                            </tbody>
                    </table>
                }
            <table class="table table-borderless">
                <tr>
                    <br />
                    <br />
                    <td>
                        @if (ViewBag.Reset_Success != null)
                        {

                        <label id="msgLabel" style="color:white">@ViewBag.Reset_Success .</label>
                        }
                        else if (ViewBag.Reset_Fail != null)
                        {
                    <label id="msgLabel2" style="color:darkred">@ViewBag.Reset_Fail .</label>
                        }
                        else if (ViewBag.Error != null)
                        {
                    <label id="msgLabel3" style="color:darkred">@ViewBag.Error</label>
                        }
                    </td>
                </tr>
            </table>
                </div>                      
            
        </div>
    }

    
</body>
</html>
<script src="~/Scripts/jquery-3.4.1.js" crossorigin="anonymous"></script>
<script>

    var a = false, b = false;

    function PasswordVerify() {
        var pwdformat = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{6,20}$/;
        var pwd = $("#newpassword").val();
        if (pwd.match(pwdformat)) {
            a = true;
            $('#newpasswordlabel').text('Valid Password');
            $('#newpassword').css("background", "PaleGreen");
            if ($('#confirmnewpassword').val() != '') { MatchPassword(); }
            if (a && b) { $('#btnupdatepassword').show(); }
        }
        else {
            a = false;
            $('#btnupdatepassword').hide();
            $('#newpasswordlabel').text('Not a Valid Password');
            $('#newpassword').css("background", "DarkSalmon");
            alert("Password must be minimum 6 characters long which contain at least one lowercase letter, one uppercase letter, one numeric digit, and one special character");
        }

    };

    function MatchPassword() {
        var newpwd = $("#newpassword").val();
        var confirmnewpassword = $('#confirmnewpassword').val();
        if (newpwd == confirmnewpassword) {
            b = true;
            if (a && b) { $('#btnupdatepassword').show(); }
            $('#confirmnewpassword').css("background", "PaleGreen");
            $('#confirmpasswordlabel').text('New Password and Confrim Password Matched')
        }
        else {
            b = false;
            $('#confirmnewpassword').css("background", "DarkSalmon");
            $('#confirmpasswordlabel').text('New Password and Confrim Password Not Matched')
            $('#btnupdatepassword').hide();
        }

    };

</script>