
@model CCPNCR_Record_Management.Models.FileRecord
@{
    int SrNo = 1;
    ViewBag.Title = "FilePendingforApproval";
    if (Session["UserRoleType"].ToString() == "Admin")
    {
        Layout = "~/Views/Shared/MasterLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/UsersLayout.cshtml";
    }
}
<h3 style="text-align:center">Files Pending for Approval</h3>
<style>
    td {
        border: 1px solid black;
        text-align: center;
    }

    tr {
        text-align: center;
    }

    .dk_header {
        height: 40px;
        margin: 10px;
        padding-top: 8px;
        text-align: center;
        background-color: black;
        color: white;
        font: bold;
    }
</style>

<fieldset class="col-lg-12">
    <div class="form-group">
        <div class="table table-responsive">
            @if (Model != null)
            {
                <table class=" table table-responsive table-sm" style="font-size:small">
                    <thead class="table-dark">
                        <tr>
                            <th>
                                Sr. No
                            </th>
                            <th>
                                File No
                            </th>
                            <th>
                                File Subject
                            </th>
                            <th>
                                NP First Page
                            </th>
                            <th>
                                NP Last Page
                            </th>
                            <th>
                                CP First Page
                            </th>
                            <th>
                                CP Last Page
                            </th>
                            <th>
                                Date on Last NP
                            </th>
                            <th>
                                Last Sign by on NP
                            </th>
                            <th colspan="3" style="text-align:center">
                                Action
                            </th>
                        </tr>
                    </thead>
                    @if (Model.List_File_Record.Count > 0)
                    {
                        for (int i = 0; i < Model.List_File_Record.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.HiddenFor(modelItem => Model.List_File_Record[i].FileIn_OutRecordId)
                                    @Html.HiddenFor(modelItem => Model.List_File_Record[i].FileRecordId)
                                    @SrNo.
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.List_File_Record[i].FileRecordNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.List_File_Record[i].FileRecordName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.List_File_Record[i].NPStart)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.List_File_Record[i].NPEnd)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.List_File_Record[i].CPStart)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.List_File_Record[i].CPEnd)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.List_File_Record[i].DateonlastNP.Date.Day)/@Html.DisplayFor(modelItem => Model.List_File_Record[i].DateonlastNP.Date.Month)/@Html.DisplayFor(modelItem => Model.List_File_Record[i].DateonlastNP.Date.Year)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.List_File_Record[i].SignedByonlastNP)
                                </td>
                                <td>
                                    <div class="btn-sm btn-success" onclick="Approve(@Model.List_File_Record[i].FileRecordId,@Model.List_File_Record[i].FileIn_OutRecordId)">Approve</div>
                                </td>
                                <td>
                                    <div class="btn-sm btn-danger" onclick="Reject(@Model.List_File_Record[i].FileRecordId,@Model.List_File_Record[i].FileIn_OutRecordId)">Reject</div>
                                </td>
                                <td>
                                    <div class="btn-sm btn-danger " onclick="RemarksbyRK(@Model.List_File_Record[i].FileRecordId,@Model.List_File_Record[i].FileIn_OutRecordId)">Remarks by RK</div>
                                </td>
                            </tr>
                            SrNo++;
                        }
                    }
                    else
                    {
                        <tr class="table-danger">
                            <td colspan="11" style="text-align: center">No Data Exists</td>
                        </tr>
                    }
                </table>

            }
        </div>
    </div>
</fieldset>


<input type="hidden" id="hiddenFileIn_OutRecordId" />
<input type="hidden" id="hiddenFileRecordId" />
<div class="container">




    <div class="modal" id="myModal" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="dk_header">Message</div>
                <div class="modal-body" id="rejectionModalBody">
                    <p class="success-message">Are you sure you wish to reject this Approval ? </p>
                    <textarea id="rejectionremarks" rows="3" cols="55" placeholder="Enter your File's Rejection Remarks."></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" id="btnConfirm" onclick="ConfirmReject()">Reject Approval</button>
                    <button class="btn btn-dark" data-dismiss="modal" onclick="$('#myModal').modal('hide'); window.location.href = window.location.href;">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="myEditModal" style="padding-top:100px" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="dk_header">Remarks by Record Keeper</div>
                <div class="modal-body" id="editModalBody">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-dark" onclick="$('#myEditModal').modal('hide'); window.location.href = window.location.href;">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="myApprovalModal" style="padding-top:100px" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="dk_header">Approval Remarks</div>
                <div class="modal-body" id="approvalModalBody">
                    <p class="success-message"><p>
                        <textarea id="approvalremarks" rows="3" cols="55" placeholder="Enter your File's Approval Remarks."></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" id="btnConfirmApproval" onclick="ConfirmApproval()">Confirm Approval</button>
                    <button class="btn btn-dark" onclick="$('#myApprovalModal').modal('hide'); window.location.href = window.location.href;">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript">


    var Approve = function (FileRecordId, FileIn_OutRecordId) {
        $("#hiddenFileIn_OutRecordId").val(FileIn_OutRecordId);
        $("#hiddenFileRecordId").val(FileRecordId);
        $('#myApprovalModal').modal('show');
    };

    function ConfirmApproval() {
        var filein_outrecordid = $("#hiddenFileIn_OutRecordId").val();
        var filerecordid= $("#hiddenFileRecordId").val();
        var remarks = $('#approvalremarks').val();

        if (filein_outrecordid != '' && filein_outrecordid != null && filerecordid != '' && filerecordid != null && remarks != "" && remarks != null) {
            $.ajax({
                url: '/JSONCalls/SubmitApproval',
                data: { FileIn_OutRecordId: filein_outrecordid, FileRecordId: filerecordid, ApprovalRemarks: remarks },
                type: 'POST',
                success: function (data) {
                    if (data == "Success") {
                        $(".dk_header").add().html("Message");
                        $('#btnConfirmApproval').remove();
                        $('#approvalremarks').remove();
                        $('.success-message').add().html('File Approved successfully.');
                        $('#row_' + FileIn_OutRecordId).remove();
                    }
                    else if (data == "Failed") {
                        $(".dk_header").add().html("Message");
                        $("#btnConfirmApproval").remove();
                        $('#approvalremarks').remove();
                        $(".modal-body").add().html("!File Not Approved");
                    }
                    else if (data != "Failed" && data != "Success") {
                        $(".dk_header").add().html("Message");
                        $("#btnConfirmApproval").remove();
                        $('#approvalremarks').remove();
                        $(".modal-body").add().html(data);
                    }
                }, error: function (err) {
                    $(".dk_header").add().html("Message");
                    $("#btnConfirmApproval").remove();
                    $('#approvalremarks').remove();
                    $('.success-message').add().html(err.statusText);
                }
            });
        } else {
            $(".dk_header").add().html("Message");
            $("#btnConfirmApproval").remove();
            $('#approvalremarks').remove();
            $(".modal-body").add().html("!File Not Approved");
        }
    };

    var RemarksbyRK = function (FileRecordId, FileIn_OutRecordId) {
        var url = '/FileMasterRecord/GetRKRemarks?FileRecordId=' +FileRecordId+'&FileIn_OutRecordId=' + FileIn_OutRecordId;
        $('#editModalBody').load(url, function () {
            $('#myEditModal').modal('show');
        })
    };


    var Reject = function (FileRecordId,FileIn_OutRecordId) {
        $("#hiddenFileIn_OutRecordId").val(FileIn_OutRecordId);
        $("#hiddenFileRecordId").val(FileRecordId);
        $('#myModal').modal('show');
    };

    function ConfirmReject() {
        var filein_outrecordid = $("#hiddenFileIn_OutRecordId").val();
        var filerecordid = $("#hiddenFileRecordId").val();
        var remarks = $('#rejectionremarks').val();
        if (filein_outrecordid != '' && filein_outrecordid != null && filerecordid != '' && filerecordid != null && remarks != "" && remarks != null)
           {
                $.ajax({
                    url: '/JSONCalls/RejectApproval',
                    data: { FileIn_OutRecordId: filein_outrecordid, FileRecordId: filerecordid, RejectionRemarks: remarks },
                    type: 'POST',
                    success: function (data) {
                        if (data) {
                            $('#btnConfirm').remove();
                            $('#rejectionremarks').remove();
                            $('.success-message').add().html('Approval Rejected successfully.');
                            $('#row_' + FileIn_OutRecordId).remove();
                        }
                    }, error: function (err) {
                        $('#btnConfirm').remove();
                        $('#row_' + FileIn_OutRecordId).remove();
                        $('#rejectionremarks').remove();
                        $('.success-message').add().html(err.statusText);
                    }
                });
            } else {
                $(".dk_header").add().html("Message");
                $("#btnConfirm").remove();
                $('#rejectionremarks').remove();
                $(".modal-body").add().html("!Approval Not Rejected");
            }
    };

    var EditFileRecord = function (FileIn_OutRecordId) {
        document.location = '/FileMasterRecord/EditFileRecord?FileIn_OutRecordId=' + FileIn_OutRecordId;        
    };
               
</script>


